.itemf{
    width: 100%;
    height: 100%;
    padding: 150px 0 0 96px;
    box-sizing: border-box;
    .build{
        width: 100%;
        .house{
            font-size: 55px;
            color:rgb(254,60,71);
            font-weight:bold;
        }
        .consume{
            width: 100%;
            font-size: 38px;
            color:rgb(75,38,38);
            margin-top: 20px;
            .tiems{
                font-size: 55px;
                color:rgb(254,60,71);
                margin: 0 30px;
                font-weight:bold;
            }
        }
    }
    .annals-clerk{
        display: block;
        width: 564px;
        height: 128px;
        margin-top: 93px;
    }
    .annals-buildings{
        position: absolute;
        right: -703px;
        bottom: -465px;
        width: 703px;
        height: auto;
        z-index: 0;
        opacity: 0;
    }
}

.pagefixed{
    .build{
        opacity: 1;
        -webkit-transition: all 0.6s ease-in-out 400ms;
        -moz-transition: all 0.6s ease-in-out 400ms;
        -o-transition: all 0.6s ease-in-out 400ms;
        transition: all 0.6s ease-in-out 400ms;
    }
    .annals-buildings {
        right: -50px;
        bottom: 150px;
        opacity: 1;
        -webkit-transition: all 0.6s ease-in-out 150ms;
        -moz-transition: all 0.6s ease-in-out 150ms;
        -o-transition: all 0.6s ease-in-out 150ms;
        transition: all 0.6s ease-in-out 150ms;
    }
}

.page-opc{
    .build{
        opacity: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    .annals-buildings {
        right: -703px;
        bottom: -465px;
        opacity: 0;
        -webkit-transition: all 0.8s ease-in-out 10ms;
        -moz-transition: all 0.8s ease-in-out 10ms;
        -o-transition: all 0.8s ease-in-out 10ms;
        transition: all 0.8s ease-in-out 10ms;
    }
}