.itemf{
    width: 100%;
    height: 100%;
    padding: 150px 0 0 96px;
    box-sizing: border-box;
    .build{
        width: 100%;
        .house{
            font-size: 50px;
            color:rgb(254,60,71);
            font-weight:bold;
        }
        .consume{
            width: 100%;
            font-size: 33px;
            color:rgb(75,38,38);
            margin-top: 20px;
            .tiems{
                font-size: 50px;
                color:rgb(254,60,71);
                margin: 0 30px;
                font-weight:bold;
            }
        }
    }
    .annals-clerk{
        display: block;
        width: 564px;
        height: initial;
        margin-top: 50px;
    }
    .annals-buildings{
        position: absolute;
        right: -8%;
        bottom: 2%;
        width: 93.7%;
        padding-bottom: 89%;
        z-index: -1;
        opacity: 0;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.pagefixed{
    @keyframes pages-buildings{ 
        0%{ 
            opacity: 0;
            bottom: 80%;
            right: 100%;
        }
         100%{
            right: -8%;
            bottom: 2%;
            opacity: 1;
        }
    }
    .build{
        opacity: 1;
        -webkit-transition: all 0.6s ease-in-out 1s;
        -moz-transition: all 0.6s ease-in-out 1s;
        -o-transition: all 0.6s ease-in-out 1s;
        transition: all 0.6s ease-in-out 1s;
    }
    .annals-buildings {
        -webkit-animation: pages-buildings 1s 150ms ease-out both;
        -moz-animation: pages-buildings 1s 150ms ease-out both;
        -o-animation: pages-buildings 1s 150ms ease-out both;
        animation: pages-buildings 1s 150ms ease-out both;
    }
}

.page-opc{
    @keyframes opc-buildings{ 
        0%{ 
            right: -8%;
            bottom: 2%;
            opacity: 1;
        }
         100%{
            right: -100%;
            bottom: -65%;
            opacity: 0;
        }
    }
    .build{
        opacity: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    .annals-buildings {
        -webkit-animation: opc-buildings 2s 10ms ease-out both;
        -moz-animation: opc-buildings 2s 10ms ease-out both;
        -o-animation: opc-buildings 2s 10ms ease-out both;
        animation: opc-buildings 2s 10ms ease-out both;
    }
}