.isloading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 15;
    background-color: #ffecd6;
    background-image: linear-gradient(#f9a887 -20%, #ffecd6 33%, #ffecd6 70%,#f9977b 170%);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tip{
        font-size: 34px;
        margin-top: 26px;
        color: #b13233;
    }
    .image{
        display: block;
        width: 171px;
        height: 172px;
    }
}

.no-page{
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
}