.itemc{
    width: 100%;
    height: 100%;
    padding: 150px 0 0 96px;
    box-sizing: border-box;
    .temc-mast{
        width: 100%;
        .year{
            font-size: 38px;
            color:rgb(139,13,13);
        }
        .consume{
            width: 100%;
            font-size: 38px;
            color:rgb(139,13,13);
            .tiems{
                font-size: 55px;
                color: rgb(255,212,97);
                margin: 0 30px;
            }
        }
    }
    .money{
        display: block;
        width: 286px;
        margin-top: 93px;
    }
    .mast-img{
        width: 411px;
        height: 518px;
        position: absolute;
        right: 150px;
        bottom: 250px;
    }
    
    .quarterCircleLeft {
        background-image:linear-gradient(#fbde97 0%, #ef943a 100%);
        height:360px;
        width:200vw;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius:50%;    
        position: absolute;
        bottom: -230px;
        right: -105vw;
    }
}

@keyframes heart{
    25% {
        -webkit-transform: translate(-4px,-4px);
   }
   50%, 100% {
        -webkit-transform: translate(0,0);
   }
   75% {
        -webkit-transform: translate(4px,4px);
   }

}
.pagefixed{
    .temc-mast{
        opacity: 1;
        -webkit-transition: all 1s ease-in-out 400ms;
        -moz-transition: all 1s ease-in-out 400ms;
        -o-transition: all 1s ease-in-out 400ms;
        transition: all 1s ease-in-out 400ms;
    }
    .mast-img{
        animation: heart 2.5s 500ms linear infinite;
        -moz-animation: heart 2.5s 500ms linear infinite; /* Firefox */
        -webkit-animation: heart 2.5s 500ms linear infinite; /* Safari and Chrome */
        -o-animation: heart 2.5s 500ms linear infinite; /* Opera */
    }
}

.page-opc{
    
    .temc-mast{
        opacity: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    .mast-img{
        animation: heart 2.5s 500ms linear infinite;
        -moz-animation: heart 2.5s 500ms linear infinite; /* Firefox */
        -webkit-animation: heart 2.5s 500ms linear infinite; /* Safari and Chrome */
        -o-animation: heart 2.5s 500ms linear infinite; /* Opera */
    }
    .quarterCircleLeft{
        bottom: -360px;
        right: -200vw;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
}