.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.section {
    overflow: hidden;
}

.container {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    position: relative;
    //transform: translate3d(0px, 0px, 0px);
    opacity: 0.1;
    transition: all 1000ms ease;
    .page{
       width: 100%;
    }
}

.fixed-list {
    position: fixed;
    top: 40%;
    right: 20px;
}

.fixed-list .icon {
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 50%;
    margin-bottom: 20px;
}

.fixed-list .icon.color {
    background: #000;
}