.itemg{
    width: 100%;
    height: 100%;
    padding: 150px 0 0 96px;
    box-sizing: border-box;
    .flavor{
        width: 100%;
        .house{
            font-size: 50px;
            color:rgb(254,60,71);
        }
        .consume{
            width: 100%;
            font-size: 33px;
            color:rgb(75,38,38);
            margin-top: 20px;
        }
    }
    .annals-appela{
        display: block;
        width: 491px;
        height: 47px;
        margin-top: 50px;
    }
    .annals-hot{
        display: block;
        width: 78.6%;
        overflow:hidden;
        margin-top: 60px;
    }
    .annals-ball{
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 88%;
        height: initial;
        z-index: -1;
    }
    .annals-bill{
        width: 100%;
        height: calc(100% - 200px);
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.pagefixed{
    @keyframes pages-ball{ 
        0%{ 
            opacity: 0;
            left: -100%;
            bottom: -100%;
        }
         100%{
            opacity: 1;
            left: 0;
            bottom: 0;
        }
    }
    @keyframes pages-bill{ 
        0%{ 
            opacity: 0;
            left: -100%;
            bottom: -100%;
        }
         100%{
            opacity: 1;
            left: 0;
            bottom: 0;
        }
    }
    @keyframes page-height{ 
        0%{ 
           max-height: 0;
        }
         100%{
            max-height: 40%;
        }
    }
    .annals-ball{
        -webkit-animation: pages-ball 1s ease-out both;
        -moz-animation: pages-ball 1s ease-out both;
        -o-animation: pages-ball 1s ease-out both;
        animation: pages-ball 1s ease-out both;
    }
    .annals-bill{
        -webkit-animation: pages-ball 1s 1s ease-out both;
        -moz-animation: pages-ball 1s 1s ease-out both;
        -o-animation: pages-ball 1s 1s ease-out both;
        animation: pages-ball 1s 1s ease-out both;
    }
    .flavor{
        opacity: 1;
        -webkit-transition: all 0.6s ease-in-out 1.8s;
        -moz-transition: all 0.6s ease-in-out 1.8s;
        -o-transition: all 0.6s ease-in-out 1.8s;
        transition: all 0.6s ease-in-out 1.8s;
    }
    .annals-hot{
        -webkit-animation: page-height 0.6s 600ms ease-out both;
        -moz-animation: page-height 0.6s 600ms ease-out both;
        -o-animation: page-height 0.6s 600ms ease-out both;
        animation: page-height 0.6s 600ms ease-out both;
    }
}

.page-opc{
    .flavor{
        opacity: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    .annals-hot{
        height: 0;
        -webkit-transition: all 0.6s ease-in-out 10ms;
        -moz-transition: all 0.6s ease-in-out 10ms;
        -o-transition: all 0.6s ease-in-out 10ms;
        transition: all 0.6s ease-in-out 10ms;
    }
}